/*  PARA EL CAROUSEL */
 .carousel-inner > .item > img {
  height: 100px;
  width:  1200px;
}
body{background: #f7f7f7;}
*{
	margin:0px;
	padding:0px;
}
.cuerpo{
	min-height: 530px;
}
header{
	background: #305285;
	color: white;
  padding-bottom: 10px;
  padding-right: 5px;
}
.cuerpoestilo{
  margin-top: 10px;
  background: white;
  -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
}
 /* a{color:#E43F21;}*/
a:active, a:focus{background:transparent;}

.foot
{
  background: #305285;
  color: white;
}
.titulo{
	font-family: sans-serif;
  padding-top: 20px;
  padding-left: 55px;
}
.footer{
	background: #305285;
	color: white;
	min-height: 50px;
	text-align: center;
	padding: 5px 0px;
}
.tablaReg{
	width: 80%;
	margin-top: 10px;
}
.subtitle{
	padding: 10px 0px;
}
/* ESTILO PARA EL MENÚ*/
.listaMenu li{border-radius: 15px;padding: 0px 5px; text-transform: uppercase;}
.listaMenu li:hover{background: #416FB3;}
.listaMenu li a{color: white;}

#opcpanel:hover{background: #305285;}
.listaMenu li:hover > .sublistaMenu{
  display: block;
}
/* ESTILOS PARA LAS VIEWS DE VEHICULOS */

/*Boton para agregar nuevo vehiculo*/
.nvo_vehiculo{
  width:50px;
  height:50px;
  background-color:#305285;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:30px;
  line-height:22px;
  text-transform: uppercase;
  float:right;
}
.nvo_vehiculo:hover
{
	opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.let{
	color: white;
	 padding:5px 5px 10px 5px;
}

/* ESTILO PARA LA TABLA DE LOS VEHICULOS */

.footable {
  width: 100%;
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 14px;
  color: #444;
 
  border: solid #ccc 1px;
  border-collapse: separate;
  border-spacing: 0;
   -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
 .footable > tbody > tr > td, .footable > thead > tr > th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* ESPACIO PARA LA PLANTILLA*/
.space {padding:80px 0;}
.footable >thead >th {color: black;}

.footable > thead > tr > th, .footable > thead > tr > td {
  background-color: #dce9f9;
}
.footable > tbody > tr:hover {
  background: #fbf8e9;
}

/*Modal */
.header-modal
{
	background-color: #305285;
	color: white;
}

/* ESTILO PARA MODAL LOGIN */
.login_modal{
  /*background-color:#305285;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
/* ESTILOS PARA EL ASIDE DEL PANEL*/
.aside{
  margin-top: 25px;
  height: 420px;
  width: 280px;
  min-width: 280px;
  background: #E7A913;
  color: white;
  display: inline-block;
}
.subcuerpo{
  background: #F3F3F3;
  margin-top: 25px;
  margin-left: 20px;
  text-align: center;
  display: none;
  overflow-y: auto;
}
.listaPanel{
  margin-left: -13px;
  list-style: none;
  width: 100%;
}
.listaPanel a{text-decoration: none;color: white;}
.listaPanel li{padding: 10px;cursor: default;width: 277px;}
.listaPanel li:hover{
  background: #D29A14;
  padding-left: 13px;
}
.listaPanel li:hover > .sublistaPanel{display: block;}
.aside h4{
  text-align: center;
  display: block;
  padding-top: 10px;
}
.sublistaPanel{
  display: none;
  background:#E7A913;
  position: absolute;
  margin-left: 264px;
  margin-top: -34px;
  list-style: none;
  width: 100px;
  z-index: 1;
}
.sublistaPanel li{cursor: pointer;}
.sublistaPanel li:hover{width: 100%;}
#form_elim
{
  position: relative;
  top: -54px;
  left: -23px;
  width: 10px;
  height: 10px;
}

#busqueda /*  FORMULARIO PARA BUSCAR UN VEHICULO ESPECIFICAMENTE  */
{
  position: relative;
  top:26px;
  left: 0px;
  width: 800px;
  height: 10px;
}
/* BOTON PARA CONSULTAR TODOS LOS RESGISTROS DE VEHICULSO VEHICULOS>INDEX */
#btn_general
{
  position: relative;
  top:16px;
  left: 440px;
  width: 200px;
  
}
.imagen
{
    filter: grayscale(0);
}
.sublistaMenu{
  position: absolute;
  background: #123E80;
  margin-left: -171px;
  padding: 10px;
  width: 200px;
  text-align: center;
  display: none;
  font-size: 12px;
  -webkit-box-shadow: 0px 3px 15px -3px rgba(128,128,128,1);
    -moz-box-shadow: 0px 3px 15px -3px rgba(128,128,128,1);
      box-shadow: 0px 3px 15px -3px rgba(128,128,128,1);
  z-index: 2;
}
.tbcuenta{
  padding: 10px 0px;
  width: 60%;
  margin-top: 10px;
  border:1px solid #808080;
}
#frmcuenta input[type='text'],#frmcuenta select{
  margin-top: 5px;
  cursor: default;
  pointer-events: none;
  text-align: center;
}
@media (max-width: 466px) {
  .tbcuenta{
    width: 100%;
  }
}
#btnCancelar{display: none;}
/* ESTILOS DETALLE PRODUCTO */
.subcuerpoestilo{
  clear: both;
  min-width: 537px;
}
.col-img{
  width: 65%;
  height: 530px;
  float: left;
  border-right: 2px solid #F4F4F4;
}
.col-details{
  width: 35%;
  float: right;
}
.col-imgs{
  width: 19%;
  display: inline-block;
}
.col-img-current{
  width: 77%;
  display: inline-block;
  text-align: center;
  position: relative;
  vertical-align: top;
}
.imgCurrent{
  height: 500px;
  width: 100%;
  margin-top: 10px;
  z-index: 2;
}
.imgCurrent:hover{
  transform: scale(1.3);
  width: 500px;
}
.listImgs{
  width: 76px;
  list-style: none;
  margin-left: -13px;
  border-top: 2px solid #ddd;
}
.listImgs li{
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
}
.listImgs li img{
  width: 100%;
}
.imgselected{
  border-left: 3px solid #3483fa;
}
.tituloProd,.DescProd{
  font-family: sans-serif;
  font-size: 30px;
  padding: 10px;
  text-align: left;
}
.DescProd{font-size: 20px;
  text-align: justify-all;
  word-wrap: break-word;
  width: 100%;
}
.PrecProd{
  font-size: 44px;
  color: #333;
  padding: 10px;
  padding-top: 25px;
  font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
  }
.descuento,.available{
  font-size: 15px;
  color: green;
  font-style: italic;
}
.available{
  color: gray;
  position: absolute;
  margin-left: -190px;
  margin-top: 27px;
}
@media (max-width: 767px) {
  .descuento{display: block;}
  .available{
    margin-left: 0px;
    margin-top: -9px;
  }
}
.icoFav,#addedFav{
  float: right;
  cursor: pointer;
}
.caract{margin-top: 10px;}
#addedFav{display: none;}

#calendar{
  display: none;
  position: absolute;
  z-index: 2;
  margin-top: -130px;
  margin-left: -200px;
}

.TablaVehiculo{
  border-radius: 150px;
  height: 100%;
  max-height: 30%;
  margin-top: 2%;
  margin-bottom: 0.5%;
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
  display: inline-block;
  transition: transform 1s;
  -webkit-box-shadow: 9px 19px 35px -26px rgba(0,0,0,0.67);
  -moz-box-shadow: 9px 19px 35px -26px rgba(0,0,0,0.67);
  box-shadow: 9px 19px 35px -26px rgba(0,0,0,0.67);
  background: white;
}
.TablaVehiculo:hover{
   transform: scale(1.15);
   -webkit-box-shadow: -20px 25px 35px -23px rgba(0,0,0,0.67);
   -moz-box-shadow: -20px 25px 35px -23px rgba(0,0,0,0.67);
   box-shadow: -20px 25px 35px -23px rgba(0,0,0,0.67);
}

.Img{
  width: 100%;
  height: 200px;
}

.TablaVehiculo td div{
  font-family: 'Roboto Slab Bold', arial;
  font-size: 16px;
  text-align: center;
  margin-top: 4px;
}
.precioRenta{
  font-size: 12px;
  text-decoration: line-through;
  color: #929090;
}

.precioDescuento{
  font-size: 18px;
  color: #030303;
}

.Descuento{
  font-size: 14px;
  color: #71DB71;
}

#mg{
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  outline: none;
  background: transparent;

}

.botonMG{
  z-index: 999;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  position: absolute;
  cursor: pointer;
}