/*  PARA EL CAROUSEL */
 .carousel-inner > .item > img {
  height: 100px;
  width:  1200px;
}


*{
	margin:0px;
	padding:0px;
}
.cuerpo{
	min-height: 530px;
}
header{
	background: #305285;
	color: white;
  padding-bottom: 10px;
  padding-right: 5px;
}
 /* a{color:#E43F21;}*/
a:active, a:focus{background:transparent;}

.foot
{
  background: #305285;
  color: white;
}
.titulo{
	font-family: sans-serif;
  padding-top: 20px;
  padding-left: 55px;
}
.footer{
	background: #305285;
	color: white;
	min-height: 50px;
	text-align: center;
	padding: 5px 0px;
}
.tablaReg{
	width: 80%;
	margin-top: 10px;
}
.subtitle{
	padding: 10px 0px;
}
/* ESTILO PARA EL MENÚ*/
.listaMenu li{border-radius: 15px;padding: 0px 5px; text-transform: uppercase;}
.listaMenu li:hover{background: #416FB3;}
.listaMenu li a{color: white;}

#opcpanel:hover{background: #305285;}
.listaMenu li:hover > .sublistaMenu{
  display: block;
}
/* ESTILOS PARA LAS VIEWS DE VEHICULOS */

/*Boton para agregar nuevo vehiculo*/
.nvo_vehiculo{
  width:50px;
  height:50px;
  background-color:#305285;
  margin: 5px;
  padding:10px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  font-size:30px;
  line-height:22px;
  text-transform: uppercase;
  float:right;
}
.nvo_vehiculo:hover
{
	opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity=50);
}
.let{
	color: white;
	 padding:5px 5px 10px 5px;
}

/* ESTILO PARA LA TABLA DE LOS VEHICULOS */

.footable {
  width: 100%;
  font-family: 'trebuchet MS' , 'Lucida sans' , Arial;
  font-size: 14px;
  color: #444;
 
  border: solid #ccc 1px;
  border-collapse: separate;
  border-spacing: 0;
   -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
 .footable > tbody > tr > td, .footable > thead > tr > th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

/* ESPACIO PARA LA PLANTILLA*/
.space {padding:80px 0;}
.footable >thead >th {color: black;}

.footable > thead > tr > th, .footable > thead > tr > td {
  background-color: #dce9f9;
}
.footable > tbody > tr:hover {
  background: #fbf8e9;
}

/*Modal */
.header-modal
{
	background-color: #305285;
	color: white;
}

/* ESTILO PARA MODAL LOGIN */
.login_modal{
  /*background-color:#305285;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 5px;
  text-transform: uppercase;
}
/* ESTILOS PARA EL ASIDE DEL PANEL*/
.aside{
  margin-top: 25px;
  height: 420px;
  width: 280px;
  min-width: 280px;
  background: #E7A913;
  color: white;
  display: inline-block;
}
.subcuerpo{
  background: #F3F3F3;
  margin-top: 25px;
  margin-left: 20px;
  text-align: center;
  display: none;
  overflow-y: auto;
}
.listaPanel{
  margin-left: -13px;
  list-style: none;
  width: 100%;
}
.listaPanel a{text-decoration: none;color: white;}
.listaPanel li{padding: 10px;cursor: default;width: 277px;}
.listaPanel li:hover{
  background: #D29A14;
  padding-left: 13px;
}
.listaPanel li:hover > .sublistaPanel{display: block;}
.aside h4{
  text-align: center;
  display: block;
  padding-top: 10px;
}
.sublistaPanel{
  display: none;
  background:#E7A913;
  position: absolute;
  margin-left: 264px;
  margin-top: -34px;
  list-style: none;
  width: 100px;
  z-index: 1;
}
.sublistaPanel li{cursor: pointer;}
.sublistaPanel li:hover{width: 100%;}
#form_elim
{
  position: relative;
  top: -54px;
  left: -23px;
  width: 10px;
  height: 10px;
}

#busqueda /*  FORMULARIO PARA BUSCAR UN VEHICULO ESPECIFICAMENTE  */
{
  position: relative;
  top:26px;
  left: 0px;
  width: 800px;
  height: 10px;
}
/* BOTON PARA CONSULTAR TODOS LOS RESGISTROS DE VEHICULSO VEHICULOS>INDEX */
#btn_general
{
  position: relative;
  top:16px;
  left: 440px;
  width: 200px;
  
}
.imagen
{
    filter: grayscale(0);
}
.sublistaMenu{
  position: absolute;
  background: #123E80;
  margin-left: -171px;
  padding: 10px;
  width: 200px;
  text-align: center;
  display: none;
  font-size: 12px;
  -webkit-box-shadow: 0px 3px 15px -3px rgba(128,128,128,1);
    -moz-box-shadow: 0px 3px 15px -3px rgba(128,128,128,1);
      box-shadow: 0px 3px 15px -3px rgba(128,128,128,1);
  z-index: 2;
}
.tbcuenta{
  padding: 10px 0px;
  width: 60%;
  margin-top: 10px;
  border:1px solid #808080;
}
#frmcuenta input[type='text'],#frmcuenta select{
  margin-top: 5px;
  cursor: default;
  pointer-events: none;
  text-align: center;
}
@media (max-width: 466px) {
  .tbcuenta{
    width: 100%;
  }
}
#btnCancelar{display: none;}